<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ApertoMoveGmbH.ApothekenderABDA" Version="1.1.0.5" Publisher="CN=72430CE4-97E3-4850-81D1-AB8545FCF3A6" />
  <Properties>
    <DisplayName>Apotheken der ABDA</DisplayName>
    <PublisherDisplayName>Aperto Move GmbH</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.contactPicker" />
      </Extensions>
      <m2:VisualElements DisplayName="Apotheken der ABDA" Description="Apotheken" BackgroundColor="#FFFFFF" ForegroundText="light" Square150x150Logo="images\logo.png" Square30x30Logo="images\smalllogo.png">
        <m2:DefaultTile Square70x70Logo="images\icon_adressfeld.jpg">
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#FFFFFF" Image="images\splashscreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>